body {
  margin-top: 50px;
}

.grey-background {
  background-color: lightgray;
  padding-top: 20px;
  padding-bottom: 20px;
}

.colorblocktop {
  padding-top: 20px;
}

input:required:after {
  content: " *";
  color: red;
}

input[type=text]:required::placeholder {
  text-align: right;
  color: red;
}

.required {
  color: red;
}
